<!-- Main container for the note component -->
<div class="max-w-lg mt-5 mb-4">

  <!--
    Title:
    - Default (mobile): text-lg (1.125rem)
    - Small screens and up (sm:): text-xl (1.25rem)
  -->
  <h3 class="text-xl sm:text-xl font-bold text-[#4CAF50]">
    {{ title }}
  </h3>

  <!--
    Subtitle:
    - Default (mobile): text-sm (0.875rem)
    - Small screens and up (sm:): text-base (1rem)
  -->
  <p *ngIf="subtitle" class="mt-2 text-xs sm:text-xs text-slate-600 leading-relaxed">
    {{ subtitle }}
  </p>

</div>